.footer-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: -10px;

	li{
		padding: 0 10px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 14px;
			background: $darkblue;
			position: absolute;
			right: 0px;
			transform: translateX(50%);
			top: calc(50% - 7px);
		}

		&:last-child{
			&:after{
				display: none;
			}
		}

		a{
			font-size: 16px;
			line-height: 25px;
			color: $darkblue;
			text-decoration: none;

			&:hover{
				color: $accent;
			}
		}

		&.current-menu-item{
			a{
				color: $accent;
				cursor: default;
			}
		}
	}

	@media screen and (max-width: 767px){
		li{
			a{
				font-size: 14px;
			}
		}
	}

	@media screen and (max-width: 575px){
		flex-direction: column;

		li{
			margin-bottom: 3px;
			text-align: center;

			&:after{
				display: none;
			}
		}
	}
}