$colors: (
	white: #fff,
	text: $text-color,
	primary: $primary,
	accent: $accent,
	violet: $violet,
	lightblue: $lightblue,
	azure: $azure,
);

@each $i in $colors{
	$color-key: nth($i, 1);
	$color-value: nth($i, 2);

	&.color-#{$color-key}{
		color: $color-value !important;
	}
}

.push{
	position: relative;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.violet-bg{
	background: $violet;
}

.azure-gradient-bg{
	background: linear-gradient(to bottom, $azure 0%, $blue 66%, $blue 100%);
}

.lightgray-bg{
	background: #f2f2f2 !important;
}