@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic);

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}