// Fonts
$main-font: 'Roboto', Arial, sans-serif;
$second-font: Arial, sans-serif;

// Colors
$darkblue: #364b5b;
$blue: #479fb2;
$lightblue: #4599ab;
$pink: #cc3662;
$violet: #313359;
$azure: #6abece;
$olive: #88a46d;
$khaki: #b29f47;

$text-color: #000;

$primary: $blue;
$accent: $pink;

// Params
$body-bg: #fff; // site background
$t: .3s; // animation duration