.btn{
	display: inline-flex;
	border: none;
	transition: all $t;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	padding: 7px 25px;
	border: 2px solid transparent;
	position: relative;
	-webkit-appearance: none;
	background: $primary;
	border-radius: 21px;
	color: #fff;

	&:hover{
		background: darken($primary, 10%);
	}

	&.btn-large{
		font-size: 40px;
		line-height: 50px;
		padding: 30px 85px;
		border-radius: 58px;
		border-width: 3px;
		font-weight: 900;
	}

	&.btn-big{
		font-size: 30px;
		line-height: 44px;
		padding: 9px 50px;
		font-weight: 900;
		border-radius: 33px;
	}

	@media screen and (max-width: 1239px){
		&.btn-big{
			padding: 9px 25px;
		}
	}

	@media screen and (max-width: 575px){
		&.btn-large{
			padding: 15px 35px;
			font-size: 30px;
			line-height: 40px;
		}
	}

	&.btn-khaki{
		background: $khaki;

		&:hover{
			background: darken($khaki, 10%);
		}
	}

	&.btn-olive{
		background: $olive;

		&:hover{
			background: darken($olive, 10%);
		}
	}

	[class^="icon-"], [class*=" icon-"]{
		&:first-child{
			margin-right: 13px;
		}

		&:last-child{
			margin-left: 13px;
		}
	}

	&.fullwidth{
		width: 100%;
	}

	@media screen and (max-width: 575px){
		&.xs-fullwidth{
			width: 100%;
		}
	}
}