.menu-opener{
	display: none;
	flex-direction: column;

	.bar{
		width: 25px;
		height: 2px;
		margin-bottom: 5px;
		background: #fff;

		&:last-child{
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 767px){
		display: flex;
	}
}